@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom base styles */
@layer base {
  :root {
    --color-primary: #3490dc;
    --color-secondary: #ffed4a;
    --color-dark: #2d3748;
    --color-light: #f7fafc;
    
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    background-color: var(--color-light);
    color: var(--color-dark);
  }
  
  @media (prefers-color-scheme: dark) {
    body {
      background-color: var(--color-dark);
      color: var(--color-light);
    }
  }
}

/* Custom components */
@layer components {
  .btn {
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
  }
  
  .btn-primary {
    background-color: var(--color-primary);
    color: white;
  }
  .btn-primary:hover {
    background-color: rgba(52, 144, 220, 0.8); /* primary color with 0.8 opacity */
  }
  
  .btn-secondary {
    background-color: var(--color-secondary);
    color: var(--color-dark);
  }
  .btn-secondary:hover {
    background-color: rgba(255, 237, 74, 0.8); /* secondary color with 0.8 opacity */
  }

  .container-custom {
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  @media (min-width: 640px) {
    .container-custom {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }
  @media (min-width: 1024px) {
    .container-custom {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
}
